<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Lego Collection</title>
</head>

<body>
    <nav>
        <%- include('partials/navbar', {page: '/'}) %>
    </nav>


    <div class="container mx-auto p-4">
        <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center ">
            <div class="max-w-md">
              <h1 class="text-5xl font-bold">WELCOME</h1>
              <p class="py-6">Unleash your inner builder and embark on a fascinating journey through the colorful realm of Lego.</p>
              <a href="/lego/sets" class="btn btn-primary">GET STARTED NOW</a>
            </div>
        </div>
    </div>

    <script>
        fetch('/lego/sets')  // Replace with the actual path to your JSON file
            .then(response => response.json())
            .then(data => {
                console.log(data); 
                const legoSetsContainer = document.getElementById('legoSetsContainer');
    
                data.forEach(set => {
                    const setCard = `
                        <div class="bg-white p-4 rounded-lg shadow-md">
                            <img src="${set.img_url}" alt="Lego Set ${set.set_num}">
                            <h2 class="text-xl font-semibold mt-2">${set.name}</h2>
                            <p class="text-gray-600">A classic Lego set from ${set.year} with ${set.num_parts} parts.</p>
                            <a href="/lego/sets/${set.set_num}" class="btn mt-2">View Details</a>
                        </div>
                    `;
                    legoSetsContainer.insertAdjacentHTML('beforeend', setCard);
                });
            })
            .catch(error => console.error('Error loading data: ' + error));
    </script>



</body>

</html>